<h2> NEW ROSTER </h2>
<div class="container">
  <div id="roster-create-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for :roster, html: { multipart: true }, url: rosters_path do |f| %>
          <p>
              <%= f.label :course_number %>
              <%= f.collection_select :course_num, @courses.select(:number).distinct, :number, :number, { prompt: "Select a Course Number"}, {id:"course_num", class: "form-control", :required => true} %>

              <%= f.label :course_year %>
              <%= f.collection_select :course_year, @courses.select(:year).distinct, :year, :year,{  prompt: "Select the year of the course"}, {id:"course_year", class: "form-control", :required => true} %>

              <%= f.label :course_session %>
              <%= f.collection_select :course_session, Course.getSessions, :strip, :strip,{  prompt: "Select a semester"}, {id:"course_session", class: "form-control", :required => true} %>
          <p>
          <%= f.label :attachment %>
          <%= f.file_field :attachment, id:"roster", class: 'form-control', :required => true %>
          </p>
          
          <p>
          <%= f.submit "Import Roster", class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div style="text-align:center;">
    <%= link_to 'Back', :back %> &emsp;
    <%= link_to 'Home', root_path %>
  </div>
</div>
