<div id="main-content">
<p> <font size="12">Welcome,  <%= @student.first_name %> <%= @student.last_name %></font>  </p>
</div

<div id="student-content">
  <div id="student-grid">
    <div class="grid-element"><%=link_to courses_path do %>
      <%= image_tag("Courses.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
    <div class="grid-element"><%=link_to assignments_path do %>
      <%= image_tag("Assignments.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
    <div class="grid-element"><%=link_to submissions_new_path do %>
      <%= image_tag("SubmitAssignment.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
  
    <div class="grid-element"><%=link_to submissions_path do %>
      <%= image_tag("Submissions.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
  </div>
  
    <!--, path-->
    <!--<li><%= link_to "See my assignments", assignments_path %></li>-->
    <!--<li><%= link_to "See my courses", courses_path %></li> -->
    <!--<li><%= link_to "Submit assignment", submissions_new_path %></li>-->
    <!--<li><%= link_to "View past submissions", submissions_path %></li>-->
    
</div>

<% if false %>
<h2 align="center">Courses</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Assignment</th>
      <th>Due Date</th>
    </tr>
  </thead>
 
  <tr>
  <% @courses.each do |course| %>
      <td><%= course.name %></td>
      <td><%= link_to course.number , course_path(course) %></td>
      <td></td>
      <td></td>
    <tr>
    </tr>
    <tr>
      <% course.assignments.each do |assignment| %>
        <tr>
          <td></td>
          <td></td>
          <td><%= link_to assignment.name , assignment_path(assignment) %></td>
          <td><%= assignment.due_date %></td>
        </tr>
      <% end %>
      
    </tr>
    
  <% end %>
  </tr>
</table>
<% end %>
