
<h2> NEW COURSE </h2>
<div class="container">
  <div id="course-create-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for :course, url: courses_path do |f| %>
        
        <% if false %>
          <p>
            <%= render 'shared/error_messages' %>
          </p>
        <% end %>

          <p>
            <%= f.label :name %>
            <%= f.text_field :name, id:"name", class: 'form-control', :required => true%>
          </p>
        
          <p>
            <%= f.label :number %>
            <%= f.number_field :number, id:"number",class: 'form-control', :required => true  %>
          </p>

          <p>
            <%= f.label :year %>
            <%= f.number_field :year, id:"year", class: 'form-control', :required => true%>
          </p>

          <p>
            <%= f.label :semester %><br>
            <%= f.collection_select :session, Course.getSessions, :strip, :strip,{ id:"session", name:"session", prompt: "Select a semester"}, {class: "form-control", :required => true} %>
          </p>

          <p>
            <%= f.submit 'submit', :id=>"submit", class: "btn btn-primary" %>
          </p>
          
          <div style="text-align:center;">  
            <%= link_to 'Back', :back %> &emsp;
            <%= link_to 'Home', root_path %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>