<h2> ENROLL STUDENT </h1>

<div class="container">
  <div id="assign-create-content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for :enrollStudent, url: instructor_path(:addEnrolledStudent), action: "enrollStudent" do |f| %>

          <p>
            <%= f.label :course_num %><br>
            <%= f.collection_select :course_num, @courses, :number, :number, id:"course_num", prompt: true, include_blank: false %>
          </p>
          
          <p>
            <%= f.label :student_email %><br>
            <%= f.collection_select :student_email, Student.all, :email, :email, id:"student_email", prompt: true, include_blank: false %>
          </p>
        
        
        <% if false %>
          we can add a description that the 
          professor wants to specify late.
        
          <p>
            <%= f.label :text %><br>
            <%= f.text_area :text %>
          </p>
        <% end %> 
        
        
          <p>
            <%= f.submit 'submit', id:"submit",class: "btn btn-primary" %>
          </p>
          <p>  <%= link_to 'Home', instructor_path(:show) %> </p>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
