<div id="main-content">
<p> <font size="12">Welcome,  <%= @instructor.first_name %> <%= @instructor.last_name %></font>  </p>
</div>

<div id="instructor-content" >
    <!--, path-->
  <div class="group">
    <div class="group-element"><%=link_to courses_path do %>
      <%= image_tag("Courses.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
    <div class="group-element"><%=link_to assignments_path do %>
      <%= image_tag("Assignments.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
    <div class="group-element"><%=link_to students_path do %>
      <%= image_tag("Students.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
  
    <div class="group-element"><%=link_to submissions_path, data: {turbolinks: 'false'} do %>
      <%= image_tag("Submissions.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
    <div class="group-element"><%=link_to assistant_index_path do %>
      <%= image_tag("TA.png", class: "png", size: "314x172") %>
    <% end %>
    </div>
    <% if (@instructor.is_admin) %>
      <div class="group-element"><%=link_to instructor_index_path do %>
        <%= image_tag("Instructors.png", class: "png", size: "314x172") %>
      <% end %>
    <% end %>
  </div>

    <!--<li><%= link_to "Create a Course", courses_new_path %> | <%= link_to "View Courses List", courses_path %> </li> -->
    <!--<li><%= link_to "Create an Assigment", assignments_new_path %></li>-->
    <!--<li><%= link_to "View Lists of Assignments", assignments_path %></li>-->
    <!--<li><%= link_to "View Students Submissions", submissions_path %></li>-->
    <!--<li><%= link_to "Add a student to a course", students_new_path %></li>-->
    <!--<li><%= link_to "View All Students", students_path %></li>-->
    <!--<li><%= link_to "Add a TA to a course", assistant_new_path %></li> -->
    <!--<li><%= link_to "Upload a file to add multiple students to a course", rosters_new_path %></li> -->
    
    <div class="clear">
      <!--<li><%= link_to "Add a TA to a course", assistant_new_path %></li>-->
    </div>
</div>


</div>
